@charset "utf-8";

@import url(common.css);

.cont_box {
  margin: 0 30px;
  padding: 20px 30px;
  overflow: hidden;
  border: 1px solid #eee;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  background: #fff;
}
.cont_box2 {
  margin: 0 30px;
  overflow: hidden;
  border: 1px solid #eee;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  background: #fff;
}

/* space */
.mt0 {
  margin-top: 0 !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.ml13 {
  margin-left: 13px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.mr7 {
  margin-right: 7px !important;
}
.mr15 {
  margin-right: 15px !important;
}

/* color */
.text_yellow {
  color: #ffff00;
}
.text_red {
  color: #ff0000;
}
.text_orange {
  color: #ff8800;
}

/* content header */
.content_header {
  height: 100px;
  padding: 0 30px;
  background: #f7f7f7;
  border-bottom: 1px solid #e0e0e0;
}
.content_header h3 {
  display: inline-block;
  margin-right: 22px;
  padding-top: 42px;
  font-size: 28px;
  font-weight: 700;
  color: #000;
  letter-spacing: -1px;
}
.content_header span {
  font-size: 15px;
  color: #555;
  letter-spacing: -0.3px;
}
.content_header.type2 {
  border-bottom: 1px solid #e0e0e0;
}
.content_header .right {
  position: absolute;
  right: 30px;
  margin-top: 40px;
}

/* search */
.search_box {
  position: relative;
  padding: 0 30px 28px 30px;
  margin-top: -1px;
  border-bottom: 1px solid #e0e0e0;
  background: #f7f7f7;
}
.search_box.type2 {
  padding-top: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.search_box ul li {
  padding: 9px 0;
}
.search_box ul li:first-child {
  padding-top: 0;
}
.search_box ul li:only-child {
  padding: 0;
}
.search_box .ico_cal {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 29px;
  margin: 0 10px 0 -41px;
  text-align: center;
  vertical-align: middle;
  text-indent: -999px;
  overflow: hidden;
  background: url("../images/ico_cal.png") no-repeat 50% 45%;
}
.search_box ul li em {
  margin: 0 3px 0 1px;
}
.search_box ul li .item_list {
  overflow: hidden;
}
.search_box ul li .item_list li {
  float: left;
  margin-right: 30px;
  padding: 0;
}
.search_box ul li .item_list li:last-child {
  margin-right: 0;
}
.search_box ul li .tab_list {
  overflow: hidden;
}
.search_box ul li .tab_list li {
  float: left;
  margin-right: 3px;
  padding: 0;
}
.search_box ul li .tab_list li:last-child {
  margin-right: 0;
}
.search_box .right {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.search_box .btn_date {
  display: inline-block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  margin-right: 6px;
  text-align: center;
  font-size: 15px;
  color: #000;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 3px;
  border: 1px solid #555;
  background: #fff;
}
.btn_search {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  color: #fff !important;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 3px;
  background: #3b3b3b;
}
.btn_search.type2 {
  width: 80px;
}
.search_box .btn_detail {
  display: inline-block;
  width: 100px;
  height: 40px;
  margin-left: 7px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 3px;
  background: #00c5bd;
}
.search_box .detail_view {
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  width: 300px;
  padding: 29px;
  border: 1px solid #c9c9c9;
  background: #fff;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.3);
}
.search_box .detail_view h3 {
  margin-bottom: 18px;
  font-size: 19px;
  color: #000;
  font-weight: 500;
}
.search_box .detail_view h4 {
  margin: 13px 0 8px;
  font-size: 15px;
  color: #000;
  font-weight: 500;
}
.search_box .detail_view .detail1 li {
  padding: 5px 0;
}
.search_box .detail_view .detail1 li:first-child {
  padding-top: 0;
}
.search_box .detail_view select,
.search_box .detail_view input {
  width: 100%;
}
.search_box .detail_view .btn {
  margin-top: 15px;
  text-align: center;
}
.search_box .detail_view .btn_search {
  width: 100%;
}
.search_box .detail_view .layer_close {
  position: absolute;
  right: 29px;
  top: 31px;
  width: 14px;
  height: 14px;
  text-indent: -999px;
  overflow: hidden;
  background: url("../images/ico_layer_close.png") no-repeat 0 0;
}
.search_box .desc_list {
  margin-top: 10px;
}

/* 자동완성 */
.edit_layer {
  position: relative;
}
.edit_view {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}
.edit_view ul {
  height: 182px;
  overflow-y: auto;
  border: 1px solid #ddd;
  background: #fff;
}
.edit_view ul li {
  position: relative;
  padding: 8px 10px;
}
.edit_view ul li a {
  display: inline-block;
  margin-right: 10px;
}
.edit_view ul li span {
  color: #00ccff;
  font-weight: bold;
}
.edit_view ul li:hover {
  background: #f6f7fb;
}
.edit_view .btn {
  margin-top: 10px;
  text-align: center;
}
.edit_mask {
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1;
}

/* input,select */
input {
  height: 40px;
  padding-left: 12px;
  color: #000;
  font-size: 15px;
  border: 1px solid #c9c9c9;
  background: #fff;
  outline: 0;
  border-radius: 3px;
}
input.type2 {
  padding: 0 12px;
  text-align: right;
}
input.type3 {
  margin-right: 17px;
}
input.type4 {
  margin-left: -10px;
}
input.type5 {
  width: 600px;
  border: 0;
}
input[type="text"]::-ms-clear {
  display: none;
}
select {
  height: 40px;
  padding: 0 35px 0 12px;
  color: #000;
  font-size: 15px;
  border: 1px solid #c9c9c9;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url("../images/icon_pulldown.png") no-repeat right 14px top
    50%;
  outline: 0;
  border-radius: 3px;
}
select::-ms-expand {
  display: none;
}
textarea {
  padding: 10px;
  border: 1px solid #c9c9c9;
  background: #fff;
  outline: 0;
  overflow: auto;
  border-radius: 5px;
}

input[type="radio"]:not(old) {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  opacity: 0;
}
input[type="radio"]:not(old) + em {
  display: inline-block;
  margin-left: -20px;
  padding-left: 20px;
  margin-right: 3px;
  background: url("../images/bg_radio.png") no-repeat 50% 50%;
  min-height: 20px;
  vertical-align: middle;
}
input[type="radio"]:not(old):checked + em {
  background: url("../images/bg_radio_on.png") no-repeat 50% 50%;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
input[type="checkbox"].chk:not(old) {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  opacity: 0;
}
input[type="checkbox"].chk:not(old) + em {
  display: inline-block;
  margin-left: -20px;
  margin-right: 3px;
  padding-left: 20px;
  background: url("../images/bg_check.png") no-repeat 50% 50%;
  min-height: 20px;
  vertical-align: middle;
}
input[type="checkbox"].chk:not(old):checked + em {
  background: url("../images/bg_check_on.png") no-repeat 50% 50%;
}
input[type="checkbox"].chk:disabled:not(old):checked + em {
  background: url("../images/bg_disabled.png") no-repeat 50% 50%;
}
input::-webkit-input-placeholder {
  color: #ccc;
}
input:-moz-placeholder {
  color: #ccc;
}
input::-moz-placeholder {
  color: #ccc;
}
input:-ms-input-placeholder {
  color: #ccc;
}

/* button */
.btn_left {
  padding: 30px 30px 10px;
}
.btn_left.type2 {
  padding: 10px 30px 10px 0;
}
.btn_left.type3 {
  padding: 0 30px 10px 10px;
}
.btn_left.type4 {
  padding: 50px 30px 10px 10px;
}
.btn_right {
  padding: 40px 30px 10px;
  text-align: right;
}
.btn_right.type2 {
  padding: 10px 30px 10px;
  text-align: right;
}
.btn_right.type3 {
  padding: 0 10px 10px;
  text-align: right;
}
.btn_right.type4 {
  padding: 0 0;
  text-align: right;
}
.btn_center {
  margin-top: 20px;
  text-align: center;
}
.btn_center a {
  margin: 0 3px;
}
.btn_left {
  margin-top: 10px;
}
.btn_blue {
  display: inline-block;
  min-width: 100px;
  padding: 0 15px;
  margin-left: 6px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
  color: #fff !important;
  vertical-align: middle;
  background: #1a5ec1;
  white-space: nowrap;
  border-radius: 3px;
}
.btn_write {
  display: inline-block;
  min-width: 100px;
  padding: 0 15px 0 34px;
  margin-left: 6px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
  color: #fff !important;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 3px;
  background: #1a5ec1 url("../images/ico_write.png") no-repeat 12px 50%;
}
.btn_refresh {
  display: inline-block;
  min-width: 100px;
  padding: 0 15px 0 34px;
  margin-left: 6px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
  color: #fff !important;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 3px;
  background: #1a5ec1 url("../images/ico_refresh.png") no-repeat 12px 50%;
}
.btn_blue.type2 {
  margin: 0 6px 0 0;
}
.btn_white {
  display: inline-block;
  min-width: 100px;
  padding: 0 15px;
  margin-left: 6px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
  color: #000 !important;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #555;
  white-space: nowrap;
  border-radius: 3px;
}
.btn_white.type2 {
  margin-right: 80px;
}
.btn_white.type3 {
  min-width: 85px;
}
.btn_white.type4 {
  display: inline-block;
  min-width: 100px;
  padding: 0 15px;
  margin: 10px 0 0 0;
  margin-left: 0;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
  color: #000 !important;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #555;
  white-space: nowrap;
  border-radius: 3px;
}
.btn_up {
  display: inline-block;
  min-width: 110px;
  padding: 0 15px 0 34px;
  margin-left: 6px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
  color: #000 !important;
  vertical-align: middle;
  border: 1px solid #555;
  white-space: nowrap;
  border-radius: 3px;
  background: #fff url("../images/ico_up.png") no-repeat 12px 50%;
}
.btn_down {
  display: inline-block;
  min-width: 110px;
  padding: 0 15px 0 34px;
  margin-left: 6px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
  color: #000 !important;
  vertical-align: middle;
  border: 1px solid #555;
  white-space: nowrap;
  border-radius: 3px;
  background: #fff url("../images/ico_down.png") no-repeat 12px 50%;
}
.btn_print {
  display: inline-block;
  min-width: 110px;
  padding: 0 15px 0 30px;
  margin-left: 6px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
  color: #000 !important;
  vertical-align: middle;
  border: 1px solid #555;
  white-space: nowrap;
  border-radius: 3px;
  background: #fff url("../images/ico_print.png") no-repeat 12px 50%;
}
.btn_black {
  display: inline-block;
  min-width: 100px;
  padding: 0 15px;
  margin-left: 6px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
  color: #fff !important;
  vertical-align: middle;
  background: #444;
  white-space: nowrap;
  border-radius: 3px;
}
.btn_black.type2 {
  display: inline-block;
  min-width: 100px;
  padding: 0 0;
  margin-left: 6px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
  color: #fff !important;
  vertical-align: middle;
  background: #444;
  white-space: nowrap;
  border-radius: 3px;
}
.btn_save {
  display: inline-block;
  width: 100px;
  height: 40px;
  margin-left: 7px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 3px;
  background: #00c5bd;
}
.btn_tab {
  display: inline-block;
  min-width: 100px;
  padding: 0 15px;
  margin-right: 7px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
  color: #000 !important;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #555;
  white-space: nowrap;
  border-radius: 3px;
}
.btn_tab_on {
  display: inline-block;
  min-width: 100px;
  padding: 0 15px 0 35px;
  margin-right: 7px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
  color: #fff !important;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 3px;
  background: #ff8800 url("../images/ico_tab.png") no-repeat 10px 50%;
}
.btn_tab_on {
  display: inline-block;
  min-width: 100px;
  padding: 0 15px 0 35px;
  margin-right: 7px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
  color: #fff !important;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 3px;
  background: #ff8800 url("../images/ico_tab.png") no-repeat 10px 50%;
}
.btn_tab_on.type2 {
  background: #444 url("../images/ico_tab.png") no-repeat 10px 50%;
}
.btn_idcheck {
  display: inline-block;
  padding: 0 15px;
  margin-left: 6px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
  color: #fff !important;
  vertical-align: middle;
  background: #444;
  white-space: nowrap;
  border-radius: 3px;
}
.btn_close {
  position: absolute;
  right: 29px;
  top: 31px;
  width: 14px;
  height: 14px;
  text-indent: -999px;
  overflow: hidden;
  background: url("../images/ico_layer_close.png") no-repeat 0 0;
}
.ico_mypage {
  position: fixed;
  left: 20px;
  bottom: 30px;
  overflow: hidden;
  display: inline-block;
  padding: 5px 10px;
  width: 40px;
  height: 40px;
  line-height: 24px;
  vertical-align: middle;
  background: #00c5bd;
  white-space: nowrap;
  border-radius: 20px;
}

/* ico button */
.ico_del {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 2px 20px 0 5px;
  text-align: center;
  vertical-align: middle;
  text-indent: -999px;
  overflow: hidden;
  background: url("../images/ico_del.png") no-repeat 50% 50%;
}
.ico_add {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-left: 5px;
  text-align: center;
  vertical-align: middle;
  text-indent: -999px;
  overflow: hidden;
  background: url("../images/ico_add.png") no-repeat 50% 50%;
}
.ico_search02 {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-left: 5px;
  text-align: center;
  vertical-align: middle;
  text-indent: -999px;
  overflow: hidden;
  background: url("../images/ico_search02.png") no-repeat 50% 50%;
}

/* list */
.list_header {
  position: relative;
  padding: 10px 0;
  overflow: hidden;
}
.list_header h4 {
  display: inline-block;
  margin: 9px 15px 0 0;
  font-size: 23px;
  font-weight: 700;
  color: #000;
  letter-spacing: -1px;
}
.list_header span {
  font-size: 15px;
  color: #555;
}
.list_header .left {
  float: left;
}
.list_header .ico_search {
  float: left;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-top: 8px;
  text-align: center;
  vertical-align: middle;
  text-indent: -999px;
  overflow: hidden;
  background: url("../images/ico_search02.png") no-repeat 50% 50%;
}
.list_header .right {
  float: right;
  padding-left: 20px;
  margin-top: 3px;
}
.list_header .txt {
  color: #666;
  font-size: 15px;
  margin-right: 25px;
}
.list_header .txt em {
  color: #000;
}

.tbl_list {
  width: 100%;
  clear: both;
  border-top: 2px solid #000;
  overflow: auto;
  margin-bottom: 20px;
}
.tbl_list th {
  padding: 10px 0;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  text-align: center;
  border: 1px solid #e5e5e5;
  background: #f2f2f2;
}
.tbl_list th.type2 {
  padding: 10px 0;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  text-align: center;
  border: 0;
  background: #f2f2f2;
}
.tbl_list td {
  padding: 10px 5px;
  font-size: 15px;
  color: #555;
  text-align: center;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  background: #fff;
}
.tbl_list td.type2 {
  padding: 10px 10px;
  font-size: 15px;
  color: #555;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
  border-right: 0;
  border-left: 0;
  background: #fff;
}
.tbl_list td.type2.last {
  padding: 10px 10px;
  font-size: 15px;
  color: #555;
  text-align: left;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  background: #fff;
}
.tbl_list td img {
  width: 100px;
  height: 20px;
}
.tbl_list .last {
  border-right: 0;
}
.tbl_list .last.link {
  text-decoration: underline;
}
.tbl_list .link {
  cursor: pointer;
}
.tbl_list .tleft {
  padding: 10px 5px 10px 10px;
  text-align: left;
}
.tbl_list .tleft.link {
  text-decoration: underline;
}
.tbl_list .bg_gray {
  background: #f5f5f5;
}
.tbl_list .ico_del {
  float: right;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-top: 8px;
  text-align: center;
  vertical-align: middle;
  text-indent: -999px;
  overflow: hidden;
  background: url("../images/ico_del.png") no-repeat 50% 50%;
}
.tbl_scroll {
  height: 426px;
  overflow: auto;
}
.tbl_scroll .tbl_list {
  border-top: 0;
  margin-top: -1px;
}
.desc_list {
  margin-top: 15px;
}
.desc_list li {
  font-size: 15px;
  color: #555;
  line-height: 20px;
  padding-bottom: 5px;
  letter-spacing: -0.5px;
}
.desc_list li.txt {
  color: #ff6600;
}

/* paginate */
.paginate {
  margin: 20px 0;
  text-align: center;
  clear: both;
  line-height: 16px;
}
.paginate a.pre_end,
.paginate a.next_end,
.paginate a.pre,
.paginate a.next {
  width: 40px;
  padding: 11px;
  text-indent: -999px;
  overflow: hidden;
  background-color: #fff;
}
.paginate a.pre {
  background: #fff url("../images/ico_paging_prev.png") no-repeat 50% 50%;
}
.paginate a.next {
  background: #fff url("../images/ico_paging_next.png") no-repeat 50% 50%;
}
.paginate a.pre_end {
  background: #fff url("../images/ico_paging_first.png") no-repeat 50% 50%;
}
.paginate a.next_end {
  background: #fff url("../images/ico_paging_last.png") no-repeat 50% 50%;
}
.paginate a.pre_end:hover,
.paginate a.next_end:hover,
.paginate a.pre:hover,
.paginate a.next:hover {
  background-color: #fff;
  border: 1px solid #e5e5e5;
}
.paginate a {
  display: inline-block;
  padding: 11px 15px;
  margin: 0 1px;
  font-size: 13px;
  color: #555;
  text-align: center;
  border: 1px solid #e5e5e5;
  vertical-align: middle;
  background: #fff;
  font-family: Arial;
}
.paginate a.active,
.paginate a:hover {
  color: #fff;
  background-color: #555;
  border: 1px solid #555;
}

/* view */
.tbl_view {
  width: 100%;
  border-top: 2px solid #000;
}
.tbl_view.type2 {
  width: 100%;
  border-top: 0;
  overflow-y: auto;
}
.tbl_view th {
  padding: 10px 0;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.tbl_view th.last {
  padding: 10px 10px;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  text-align: center;
  border-bottom: 0;
}
.tbl_view th h4 {
  font-weight: 400;
  font-size: 15px;
  color: #000;
  text-align: center;
}
.tbl_view td {
  padding: 10px 5px 10px 10px;
  font-size: 15px;
  color: #555;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.tbl_view td.type2.last {
  border-bottom: 0 solid #ddd;
}
.tbl_view td.type2 {
  padding: 10px 5px 10px 10px;
  font-size: 15px;
  color: #555;
  text-align: left;
  background: #fff;
  border: 0;
}
.tbl_view th.tleft {
  padding-left: 20px;
  text-align: left;
}
.tbl_view ul {
  overflow: hidden;
}
.tbl_view li {
  width: 100%;
  margin: 10px 0;
}
.tbl_view .ico_cal {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 29px;
  margin: 0 10px 0 -41px;
  text-align: center;
  vertical-align: middle;
  text-indent: -999px;
  overflow: hidden;
  background: url("../images/ico_cal.png") no-repeat 50% 45%;
}

.tbl_view .detail_view {
  position: relative;
  top: -20px;
  left: 100px;
  width: 694px;
  padding: 10px 25px 15px 25px;
  border: 1px solid #c9c9c9;
  background: #fff;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.3);
  z-index: 99;
}
.tbl_view .detail_view h4 {
  margin: 13px 0 5px;
  font-size: 15px;
  color: #000;
  font-weight: 700;
}
.tbl_view .detail_view .layer_close {
  position: absolute;
  right: 26px;
  top: 23px;
  width: 14px;
  height: 14px;
  text-indent: -999px;
  overflow: hidden;
  background: url("../images/ico_layer_close.png") no-repeat 0 0;
}

.tbl_write {
  width: 100%;
  border-top: 2px solid #000;
}
.tbl_write th {
  height: 60px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  text-align: left;
  background: #eee;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.tbl_write td {
  padding: 10px 5px 10px 10px;
  font-size: 15px;
  color: #555;
  text-align: left;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.tbl_write th.th01 {
  border-left: 1px solid #ddd;
}
.tbl_write th em {
  color: #ff6600;
}

.tbl_write {
  width: 100%;
  border-top: 2px solid #000;
}
.tbl_write th {
  height: 60px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  text-align: left;
  background: #eee;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.tbl_write td {
  padding: 10px 5px 10px 10px;
  font-size: 15px;
  color: #555;
  text-align: left;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.tbl_write th.th01 {
  border-left: 1px solid #ddd;
}
.tbl_write th em {
  color: #ff6600;
}

/* Layer_popup */
.layerwrap {
  position: relative;
  width: 660px;
  margin: 0 auto;
  padding: 20px 30px 30px 30px;
  line-height: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: none;
}
.layerwrap.type2 {
  width: 1000px;
}
.layerwrap.type3 {
  width: 500px;
}
.layerwrap.type4 {
  width: 1000px;
  max-height: 740px;
  overflow-y: scroll;
}
.layerwrap.type5 {
  width: 300px;
  height: 300px;
  overflow: auto;
  opacity: 0;
}
.layerwrap.type6 {
  margin-top: 40px;
  width: 90%;
  height: 860px;
  border-radius: 15px;
}
.layerwrap h3 {
  margin: 10px 0 20px;
  font-size: 23px;
  font-weight: 700;
  color: #000;
  letter-spacing: -0.06em;
}
.layerwrap h3 span {
  padding-left: 13px;
  font-size: 15px;
  color: #555;
  font-weight: 400;
}
.layerwrap .media {
  margin-top: 10px;
}
.layerwrap h4 {
  display: inline-block;
  margin: 28px 15px 12px 0;
  font-size: 19px;
  color: #000;
  font-weight: 500;
}
.layerwrap h4.first {
  margin-top: 0;
}
.layerwrap h4 span {
  margin-left: 13px;
  font-size: 15px;
  color: #555;
}
.layerwrap .text {
  margin: 50px 0 30px 0;
  font-size: 15px;
  line-height: 22px;
  color: #555;
  text-align: center;
}

.chatting_wrap {
  position: relative;
  height: 403px;
  padding: 10px 20px;
  overflow-y: scroll;
}
.chatting_wrap.left {
  float: left;
  position: relative;
  width: 75%;
  height: 700px;
  padding: 10px 20px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 5px 0 0 5px;
}
.chatting_wrap.right {
  float: right;
  position: relative;
  width: 25%;
  height: 700px;
  box-sizing: border-box;
  padding: 0;
  overflow-y: scroll;
  border: 1px solid #ddd;
  border-left: 0;
  background: #fff;
  border-radius: 0 5px 5px 0;
}
.chatting_wrap ul {
  overflow: hidden;
}
.chatting_wrap li {
  width: 100%;
  margin: 9px 0;
}
.chatting_wrap li.left {
  float: left;
}
.chatting_wrap li.left .coment .cont {
  display: inline-block;
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 10px;
  line-height: 21px;
  font-size: 15px;
  color: #000;
  background: #eceff7;
  border: 0;
}
.chatting_wrap li.left .coment .cont_on {
  display: inline-block;
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 10px;
  line-height: 21px;
  font-size: 15px;
  color: #000;
  background: #ffff00;
  border: 1px solid #c9c9c9;
}
.mark {
  font-size: 15px;
  color: #000;
  background: #ffff00;
}
.chatting_wrap li.left .date {
  position: relative;
  bottom: -8px;
  padding-left: 8px;
  font-size: 12px;
  color: #555;
}
.chatting_wrap li.right {
  float: right;
  text-align: right;
}
.chatting_wrap li.right .coment .cont {
  display: inline-block;
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 10px;
  line-height: 21px;
  font-size: 15px;
  color: #fff;
  background: #1a5ec1;
}
.chatting_wrap li.right .coment .cont_on {
  display: inline-block;
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 10px;
  line-height: 21px;
  font-size: 15px;
  color: #000;
  border: 1px solid #c9c9c9;
  background: #ffff00;
}
.chatting_wrap li.right .date {
  position: relative;
  bottom: -8px;
  padding-right: 8px;
  font-size: 12px;
  color: #555;
}
.layerwrap .list_header {
  padding-top: 0;
}
.layerwrap .list_header input {
  width: 400px;
  height: 40px;
  padding-left: 12px;
  color: #000;
  font-size: 15px;
  border: 1px solid #c9c9c9;
  background: #fff;
  outline: 0;
  border-radius: 3px;
}
.layerwrap .auth {
  margin-top: 20px;
  text-align: right;
}
.layerwrap .btn_auth {
  display: inline-block;
  padding: 0 35px 0 20px;
  margin-left: 6px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
  color: #000 !important;
  vertical-align: middle;
  background: #fff url("../images/icon_pulldown.png") no-repeat right 14px top
    50%;
  border: 1px solid #555;
  white-space: nowrap;
  border-radius: 3px;
}
.layerwrap .btn_auth.on {
  background: #fff url("../images/icon_pulldown_on.png") no-repeat right 14px
    top 50%;
}
.layerwrap .auth_view {
  display: none;
}
.layerwrap .auth_view .btn {
  margin: 20px 0 -60px;
  text-align: right;
}

/* Stories */
.box_left {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0;
  overflow-y: auto;
  background: #fff;
  border-radius: 5px 0 0 5px;
}
.box_left .list_header {
  position: relative;
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
.box_left .list_header h3 {
  display: inline-block;
  padding-left: 30px;
  margin: 10px 0;
  font-size: 24px;
  font-weight: 700;
  color: #979fb4;
  letter-spacing: -0.08px;
}
.box_left .left_list {
  padding: 20px 20px;
  height: 580px;
  overflow-y: auto;
}
.box_left .left_list ul {
  margin: 0;
}
.box_left .left_list ul li {
  padding: 10px 15px;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
}
.box_left .left_list ul li:hover {
  background: #f6f7fb;
  border-radius: 5px;
}
.box_left .left_list ul > li.on {
  background-color: #f6f7fb;
  width: 100%;
  height: 40px;
  border-radius: 3px;
}
.box_left .left_list ul > li a {
  display: block;
}
.box_left .btn_detail {
  display: inline-block;
  width: 100px;
  height: 40px;
  margin-left: 7px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 3px;
  background: #00c5bd;
  background: url("../images/ico_add.png") no-repeat 50% 50%;
}
.box_left .list {
  padding: 20px 20px;
  height: 550px;
  font-size: 15px;
  color: #000;
  text-align: center;
  overflow: auto;
}

/* tab */
.box_right .multi_txt .inbox_left {
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding: 0;
  overflow-y: auto;
  border-radius: 5px 0 0 5px;
}
.box_right .multi_txt .inbox_left .tab_container {
  margin-top: 20px;
  width: 100%;
  height: 450px;
  overflow: auto;
}
.box_right .multi_txt .inbox_left .tab_container ul {
  margin: 0 20px 20px 20px;
  height: 100%;
}
.box_right .multi_txt .inbox_left .tab_container ul li {
  margin-bottom: 0;
}

.box_right .multi_txt .inbox_left .tab {
  margin: 20px 20px 0 20px;
}
.box_right .multi_txt .inbox_left .tab li {
  float: left;
  width: 23%;
  height: 40px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 5px;
  background: #fff;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
}
.box_right .multi_txt .inbox_left .tab li.on {
  width: 23.4%;
  background: #1b2e59;
  border-radius: 5px;
  border: 0;
}
.box_right .multi_txt .inbox_left .tab li.on a {
  color: #fff;
  border: 1px solid #1b2e59;
  font-weight: 700;
}

.box_right .multi_txt .inbox_right {
  float: right;
  padding: 20px;
  width: 75%;
  height: 580px;
  box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border-left: 1px solid #eee;
  background: #fff;
  border-radius: 0 5px 5px 0;
  overflow: auto;
}

.box_right {
  float: right;
  width: 80%;
  min-height: 620px;
  box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border-left: 1px solid #eee;
  border-radius: 0 5px 5px 0;
}
.box_right.type2 {
  background: #f6f7fb;
}
.box_right .title {
  position: relative;
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
.box_right .title h4 {
  display: inline-block;
  padding-left: 10px;
  margin: 10px 10px;
  font-size: 15px;
  font-weight: 700;
  color: #979fb4;
  letter-spacing: -0.08px;
}
.box_right .title .right {
  float: right;
}
.box_right .faq_write {
  padding: 10px 20px;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  text-align: center;
}
.box_right .faq_write .header {
  padding: 10px 0;
  text-align: left;
}
.box_right .faq_write .header h4 {
  padding: 0;
  color: #000;
  font-weight: 400;
}
.box_right .faq_write.type2 {
  padding: 10px 20px;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  text-align: center;
  background: #f6f7fb;
}
.box_right .faq_write td {
  border-bottom: 1px solid #ddd;
}
.box_right .faq_write td.last {
  border-bottom: 0;
}
.box_right .write {
  padding: 20px 20px;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  text-align: center;
}
.box_right .search {
  position: relative;
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  background: #fff;
}
.box_right .search .ico_search {
  float: left;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 8px 0 0 15px;
  text-align: center;
  vertical-align: middle;
  text-indent: -999px;
  overflow: hidden;
  background: url("../images/ico_search02.png") no-repeat 50% 50%;
}

/* Scenario 버튼 S */
.btn_scenario01 {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
  color: #fff !important;
  vertical-align: middle;
  background: #fa0;
  border-radius: 5px;
}
.btn_scenario01.type2 {
  width: 40%;
  margin-bottom: 40px;
}
.btn_scenario02 {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
  color: #fff !important;
  vertical-align: middle;
  background: #318ce7;
  border-radius: 5px;
}
.btn_scenario02.type2 {
  width: 40%;
  margin-bottom: 40px;
}
.btn_scenario03 {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
  color: #fff !important;
  vertical-align: middle;
  background: #2e8b57;
  border-radius: 5px;
}
.btn_scenario03.type2 {
  width: 40%;
  margin-bottom: 40px;
}

.btn_scenario07 {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
  color: #fff !important;
  vertical-align: middle;
  background: #cd5c5c;
  border-radius: 5px;
}
.btn_scenario07.type2 {
  width: 40%;
  margin-bottom: 40px;
}

.box_right .multi_txt .inbox_right .flowgrid .btn_scenario08 {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 500px;
  height: 40px;
  margin-bottom: 40px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border-radius: 5px;
  background: #cd5c5c;
}
.box_right .multi_txt .inbox_right .flowgrid .btn_scenario08:before {
  position: absolute;
  z-index: 1;
  top: 40px;
  width: 2px;
  height: 40px;
  content: "";
  left: 250px;
  background: url(../images/center_line.gif);
}

.box_right .multi_txt .inbox_right .flowgrid {
  display: table;
  width: 500px;
  margin: auto;
  text-align: center;
  margin: 30px auto;
}
.box_right .multi_txt .inbox_right .flowgrid .btn_scenario {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  left: 190px;
  margin-bottom: 40px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border-radius: 60px;
  background: #666;
  text-align: center;
}
.box_right .multi_txt .inbox_right .flowgrid .btn_scenario:before {
  position: absolute;
  z-index: 1;
  top: 120px;
  width: 1px;
  height: 40px;
  content: "";
  left: 60px;
  background: url(../images/center_line.gif);
}
.box_right .multi_txt .inbox_right .flowgrid .btn_scenario04 {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 500px;
  height: 40px;
  margin-bottom: 40px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border-radius: 5px;
  background: #fa0;
}
.box_right .multi_txt .inbox_right .flowgrid .btn_scenario04:before {
  position: absolute;
  z-index: 1;
  top: 40px;
  width: 1px;
  height: 40px;
  content: "";
  left: 250px;
  background: url(../images/center_line.gif);
}

.box_right .multi_txt .inbox_right .flowgrid .btn_scenario05 {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 500px;
  height: 40px;
  margin-bottom: 40px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border-radius: 5px;
  background: #318ce7;
}
.box_right .multi_txt .inbox_right .flowgrid .btn_scenario05:before {
  position: absolute;
  z-index: 1;
  top: 40px;
  width: 1x;
  height: 40px;
  content: "";
  left: 250px;
  background: url(../images/center_line.gif);
}
.box_right .multi_txt .inbox_right .flowgrid .btn_scenario06 {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 500px;
  height: 40px;
  margin-bottom: 40px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border-radius: 5px;
  background: #2e8b57;
}
.box_right .multi_txt .inbox_right .flowgrid .btn_scenario06:before {
  position: absolute;
  z-index: 1;
  top: 40px;
  width: 1px;
  height: 40px;
  content: "";
  left: 250px;
  background: url(../images/center_line.gif);
}
.btn_scenario05 {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
  color: #fff !important;
  vertical-align: middle;
  background: #0cf;
  border-radius: 5px;
}
.box_right .multi_txt .inbox_right .btn_scenario05:before {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 1px;
  height: 40px;
  left: 190px;
  content: "";
  background: url(../images/center_line.gif) no-repeat 50% 50%;
}
/* Scenario 버튼 E */

/* 조회 중 로딩 */
@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@keyframes loading-text-opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes loading-text-opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes loading-text-opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes loading-text-opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading-container,
.loading {
  width: 140px;
  height: 140px;
  position: relative;
  border-radius: 100%;
}

.loading-container {
  margin: 55px auto;
}

.loading {
  border: 6px solid transparent;
  border-color: transparent #ff8800 transparent #ff8800;
  -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
  -moz-transform-origin: 50% 50%;
  -o-animation: rotate-loading 1.5s linear 0s infinite normal;
  -o-transform-origin: 50% 50%;
  -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
  -webkit-transform-origin: 50% 50%;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  transform-origin: 50% 50%;
}

#loading-text {
  -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
  -o-animation: loading-text-opacity 2s linear 0s infinite normal;
  -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
  animation: loading-text-opacity 2s linear 0s infinite normal;
  color: #555;
  font-size: 15px;
  margin: 60px 0 0 20px;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100px;
}
/* //조회 중 로딩 끝 */
